---
http_interactions:
- request:
    method: post
    uri: https://identity.api.rackspacecloud.com/v2.0/tokens
    body:
      encoding: UTF-8
      string: ! '{"auth":{"RAX-KSKEY:apiKeyCredentials":{"username":"david.kinzer","apiKey":"<rackspace-api-key>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token: []
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Front-End-Https:
      - 'on'
    body:
      encoding: US-ASCII
      string: ! '{"access":{"token":{"id":"<rackspace-api-token>","expires":"2013-12-20T15:44:37.831Z","tenant":{"id":"01234","name":"01234"},"RAX-AUTH:authenticatedBy":["APIKEY"]},"serviceCatalog":[{"name":"cloudBackup","endpoints":[{"region":"HKG","tenantId":"01234","publicURL":"https:\/\/hkg.backup.api.rackspacecloud.com\/v1.0\/01234"},{"region":"DFW","tenantId":"01234","publicURL":"https:\/\/dfw.backup.api.rackspacecloud.com\/v1.0\/01234"},{"region":"SYD","tenantId":"01234","publicURL":"https:\/\/syd.backup.api.rackspacecloud.com\/v1.0\/01234"},{"region":"ORD","tenantId":"01234","publicURL":"https:\/\/ord.backup.api.rackspacecloud.com\/v1.0\/01234"},{"region":"IAD","tenantId":"01234","publicURL":"https:\/\/iad.backup.api.rackspacecloud.com\/v1.0\/01234"}],"type":"rax:backup"},{"name":"cloudServersOpenStack","endpoints":[{"region":"IAD","tenantId":"01234","publicURL":"https:\/\/iad.servers.api.rackspacecloud.com\/v2\/01234","versionInfo":"https:\/\/iad.servers.api.rackspacecloud.com\/v2","versionList":"https:\/\/iad.servers.api.rackspacecloud.com\/","versionId":"2"},{"region":"HKG","tenantId":"01234","publicURL":"https:\/\/hkg.servers.api.rackspacecloud.com\/v2\/01234","versionInfo":"https:\/\/hkg.servers.api.rackspacecloud.com\/v2","versionList":"https:\/\/hkg.servers.api.rackspacecloud.com\/","versionId":"2"},{"region":"SYD","tenantId":"01234","publicURL":"https:\/\/syd.servers.api.rackspacecloud.com\/v2\/01234","versionInfo":"https:\/\/syd.servers.api.rackspacecloud.com\/v2","versionList":"https:\/\/syd.servers.api.rackspacecloud.com\/","versionId":[...]
- request:
    method: get
    uri: https://ord.servers.api.rackspacecloud.com/v2/01234/images/detail?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - <rackspace-api-token>
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      x-compute-request-id:
      - req-8d30a56b-5ded-4336-be6b-891b2ea7086b
    body:
      encoding: US-ASCII
      string: ! '{"images": [{"status": "ACTIVE", "updated": "2013-12-10T17:17:41Z",
        "links": [{"href": "https://ord.servers.api.rackspacecloud.com/v2/01234/images/087497de-d71c-4d78-a707-599d0a8ea8b5",
        "rel": "self"}, {"href": "https://ord.servers.api.rackspacecloud.com/01234/images/087497de-d71c-4d78-a707-599d0a8ea8b5",
        "rel": "bookmark"}, {"href": "https://ord.servers.api.rackspacecloud.com/01234/images/087497de-d71c-4d78-a707-599d0a8ea8b5",
        "type": "application/vnd.openstack.image", "rel": "alternate"}], "OS-DCF:diskConfig":
        "MANUAL", "id": "087497de-d71c-4d78-a707-599d0a8ea8b5", "OS-EXT-IMG-SIZE:size":
        16347488811, "name": "Windows Server 2012 + SQL Server 2012 SP1 Standard",
        "created": "2013-12-05T18:44:04Z", "minDisk": 40, "progress": 100, "minRam":
        2048, "metadata": {"com.rackspace__1__visible_managed": "1", "com.rackspace__1__visible_core":
        "1", "com.rackspace__1__build_rackconnect": "1", "com.rackspace__1__release_id":
        "4200", "image_type": "base", "cache_in_nova": "True", "com.rackspace__1__source":
        "kickstart", "org.openstack__1__os_distro": "com.microsoft.server", "com.rackspace__1__release_build_date":
        "2013-12-04_22-53-21", "os_type": "windows", "auto_disk_config": "False",
        "com.rackspace__1__release_version": "9", "com.rackspace__1__platform_target":
        "PublicCloud", "com.rackspace__1__visible_rackconnect": "1", "com.rackspace__1__options":
        "12", "com.rackspace__1__build_managed": "1", "com.rackspace__1__build_core":
        "1", "rax_activation_profile": "windows", "org.openstack__1__os_version":
        "2012.0", "org.openstack__1__architecture": "x64", "com.rackspace__1__release_state":
        "active"}}, {"status": "ACTIVE", "updated": "2013-12-10T17:17:42Z", "links":
        [{"href": "https://ord.servers.api.rackspacecloud.com/v2/01234/images/da91684c-b5ed-4ec4-96d7-6637514e3599",
        "rel": "self"}, {"href": "https://ord.servers.api.rackspacecloud.com/01234/images/da91684c-b5ed-4ec4-96d7-6637514e3599",
        "rel": "bookmark"}, {"href": "https://ord.servers.api.rackspacecloud.com/01234/images/da91684c-b5ed-4ec4-96d7-6637514e3599",
        "type": "application/vnd.op[...]
